*{
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}


div.banner {
    height: 200px;
    width: 100%;
    background-color: rgb(73, 128, 230);
    position: relative;
}

div.main{
    position:fixed;
    height: 100%;
    width: 100%;
    top: 200px;
    left: 15%;
    background-color: rgb(182, 182, 182);
    overflow-y: scroll;
}

img.logo {
    position: fixed;
    left: 50px;
    top: 30px;
}

img.ava{
    position: relative;
    top: 20px;
    left: 12.5%;
    width: 200px;
    height: 200px;
}

@font-face {
    font-family: TheBoldFont;
    src: local('the_bold_font'), url('theboldfont.ttf')
}

h1.uni {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(221, 239, 255);
}
h2.Facualty {
    position: fixed;
    top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(221, 239, 255);
}
h1.prod {
    position: fixed;
    top: 110px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(221, 239, 255);
}
h4.Username{
    position:fixed;
    top: 450px;
    left: 4.5%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(49, 104, 255);
}

div.Page-title {
    position: fixed;
    top: 20px;
    left: 250px;
}

div.side-panel {
    height: 100%;
    width: 15%;
    background-color:rgb(255, 255, 255);
    margin: auto;
    position: fixed;
    top: 200px;
    left: 0px;


}

div.navig {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 25px;
    background-color: rgb(0, 28, 151);
}

ul.sd_nav {
    position: fixed;
    top: 500px;
    width: 10%;
    background-color: rgb(255, 255, 255);
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid white;
}

li a{
    display: block;
    width: 15%;
    color: rgb(51, 67, 216);
    padding: 30px 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    text-align: center;
}

li.nv a:hover{
    width: 140%;
    background-color: rgb(161, 161, 161);
    color: white;
}

li:last-child {
    border-bottom: none;
  }

  ul.posts{
    position:relative;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 10px 70px;
    border: 10px solid rgb(182, 182, 182);
    align-self: center;
  }

  div.post{
      position: relative;
      background-color: rgb(255, 255, 255);
      height: 80px;
      width: 70%;
      margin-top: 40px;
      padding: 30px 40px;
      align-self:center;

  }

  li.thePost{
    position: relative;
    display: block;
    width: 15%;
    color: rgb(51, 67, 216);
    padding: 30px 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    left: 40px;
  }
