.wrapper {
  background-color: white;
  border-radius: 6px;
  border: 1px solid #505050;
  margin: 0.2rem 1rem;
  width: 10rem;
  height: 9rem;
  overflow: auto;
}

.headings {
  margin: 0.1rem 0.2rem;
  padding: 0rem;

}

.bioText {
  background-color: white;
  border-radius: 6px;
  border: transparent;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin: 0.3rem 0.2rem 0.2rem 0.2rem;
  width: 89%;
  height: 45%;
  overflow: auto;
  font-size: smaller;
  padding: 0.2rem;
}

