.wrapper {
  /* margin-left: 100rem; */
  background-color: white;
  border-radius: 6px;
  border: 1px solid #505050;
  margin: 1rem 0 0 5rem;
  align-content: center;
  width: 60rem;
  height: fit-content;
  overflow: auto;
  background-color: white;
  border: transparent;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrap {
  margin: 1rem 0 0 2rem;
  padding: 0.5rem;
}

label {
  margin: 1rem;
  text-decoration: #000000;
  font-weight: bold;
  font-style: unset;
  
}

.align {
  justify-content: center;
}

h1 {
  margin: 1rem 0 0 5rem;
}

/* h3 {
  margin: 1rem 0 0 2rem;
} */

ul {
  list-style: none;
  margin: 0 0 0 2rem;
  text-decoration: none;
}

.btn {
  margin: 1rem;
}